<header>
<ul class="nav  navbar justify-content-center bg-dark nav-pills">
  <li class="nav-item">
    <%= link_to "HOME", root_path, class: "nav-link navbar-brand btn btn-danger" %>
  </li>
  <li class="nav-item">
    <%= link_to "Liste des gossips", gossips_path, class: "nav-link navbar-brand btn btn-primary" %>
  </li>
  <li class="nav-item">
    <%= link_to "Balancer un gossip", new_gossip_path, class: "nav-link navbar-brand btn btn-success" %>
  </li>
</ul>
</header>
