<div class="container">
<h3>Raconte nous ton nouveau Gossip...</h3>

        <%= form_for @gossip, url: {action: "create"} do |g| %>
        <h4 class="text-danger" id="error"><%= flash[:error] %></h4>
        <div class="form-group">
            <label>Ton pseudo ici :</label><br>
            <%= g.text_field :anonymous_author %><br>
        </div>
        <div class="form-group">
            <label>Vazy balance !</label><br>
            <%= g.text_area :content, size: "50x3" %><br>
        </div>
        <div class="form-group">
            <button type=submit class="btn btn-primary">Créer le nouveau gossip</button>
        </div>

        <% end %>

</div>
