<div class="container">
<h1>C'est vraiment n'importe quoi ce com'...></h1>

        <%= form_for @comment, url: {action: "update"} do |com| %>

        <div class="form-group">
            <label>Anonymous author :</label><br>
            <%= com.text_field :anonymous_commentor %><br>
        </div>
        <div class="form-group">
            <label>Content :</label><br>
            <%= com.text_area :body, size: "50x3" %><br>
        </div>
        <div class="form-group">
            <button type=submit class="btn btn-primary">Ce com' a maintenant la classe !</button>
        </div>
        <div class="form-group">
            <a href="<%= gossip_comments_path(@comment.id) %>" class="btn btn-danger" data-method="DELETE" data-confirm="C'est naze à ce point ?">Vire moi ça !</a>
        </div>

        <% end %>

</div>
